<p>IgxGrid with optional features like sorting, filtering, editing, etc.<br />
You can read more about configuring the igx-grid component in the 
<a href="https://github.com/IgniteUI/igniteui-angular/blob/master/projects/igniteui-angular/src/lib/grid/README.md" target="_blank">README</a> or the 
<a href="https://www.infragistics.com/products/ignite-ui-angular/angular/components/grid.html" target="_blank">official documentation</a>.</p>
<p>Active Features:  <a href="https://www.infragistics.com/products/ignite-ui-angular/angular/components/grid_Sorting.html" target="_blank">Sorting</a>, <a href="https://www.infragistics.com/products/ignite-ui-angular/angular/components/grid_Filtering.html" target="_blank">Filtering</a>, <a href="https://www.infragistics.com/products/ignite-ui-angular/angular/components/grid_Paging.html" target="_blank">Paging</a></p>
<div class="grid__wrapper">
  <igx-grid #grid [data]="remoteData | async" [height]="'440px'" [width]="'800px'" [autoGenerate]='false'
      (onDataPreLoad)="processData()" (onSortingDone)="processData()" (onFilteringDone)="processData()"
      [allowFiltering]="true">
      <igx-column [field]="'ProductID'" [sortable]="true" [filterable]="false" width="18%"></igx-column>
      <igx-column [field]="'ProductName'" [sortable]="true" width="16%"></igx-column>
      <igx-column [field]="'UnitPrice'" [dataType]="'number'" [formatter]="formatCurrency" [sortable]="true" width="16%"></igx-column>
      <igx-column [field]="'UnitsInStock'" [dataType]="'number'" [headerClasses]="'headerAlignSyle'" [sortable]="true" width="16%">
          <ng-template igxHeader>
              <span class="cellAlignSyle">UnitsInStock</span>
          </ng-template>
          <ng-template igxCell let-val>
              <div class="currency-badge-container">
                  <igx-badge *ngIf="val>50" type="success" position="bottom-right" icon="arrow_upward" class="badge-left"></igx-badge>
                  <igx-badge *ngIf="val<=50" type="error" position="bottom-right" icon="arrow_downward" class="error badge-left"></igx-badge>
                  <span class="cellAlignSyle" [class.up]="val>50" [class.down]="val<=50">{{ formatNumber(val) }}</span>
              </div>
          </ng-template>
      </igx-column>
      <igx-column [field]="'QuantityPerUnit'" [sortable]="true" width="18%"></igx-column >
      <igx-column [field]="'ReorderLevel'" [dataType]="'number'" [headerClasses]="'headerAlignSyle'" [sortable]="true" width="16%">
          <ng-template igxHeader>
              <span class="cellAlignSyle">ReorderLevel</span>
          </ng-template>
          <ng-template igxCell let-val>
              <div class="currency-badge-container">
                  <igx-badge *ngIf="val>20" type="success" position="bottom-right" icon="arrow_upward" class="badge-left"></igx-badge>
                  <igx-badge *ngIf="val<=20" type="error" position="bottom-right" icon="arrow_downward" class="error badge-left"></igx-badge>
                  <span class="cellAlignSyle" [class.up]="val>0" [class.down]="val<=0">{{ formatNumber(val) }}</span>
              </div>
          </ng-template>
      </igx-column>
  </igx-grid>

  <igx-toast #toast></igx-toast>
</div>
