
    <div class="header">
        <div class="logo"><img alt="Sign" width="98px" height="98px" src="assets/3cc2467cef854644e3a24279c2a2f406994e2345.png">
            <div class="typography-vertical-centering-wrapper">
                <div class="typography">
                    <span class="healthy-food">HealthyFood</span>
                    <span class="goodfoodgoodheal">good food, good health</span>
                </div>
            </div>
        </div>
        <img class="decoration" alt="Decoration" width="490px" height="99px" src="assets/19478e7317c1fa7477e9d4342036ac30c811cffb.png">
    </div>

    <div class="button-group-horizontal-1">
        <igx-buttongroup [values]="buttongrouphorizontal" class="button-group-horizontal">
        </igx-buttongroup>
    </div>

    <div class="content">
        <div class="box">
            <h6>Products On Sale</h6>
            <igx-grid #grid [data]="remoteData | async" [height]="'330px'" [width]="'1100px'" [autoGenerate]='false' [rowEditable]="false"
                (onSelection)="cellSelection($event)"
                [allowFiltering]="true">
                <igx-column [field]="'ProductID'" [sortable]="true" [filterable]="false" [hidden]="'false'"></igx-column>
                <igx-column [field]="'ProductName'" [sortable]="true" width="24%"></igx-column>
                <igx-column [field]="'UnitPrice'" [dataType]="'number'" [formatter]="formatCurrency" [sortable]="true" width="14%"></igx-column>
                <igx-column [field]="'UnitsInStock'" [dataType]="'number'" [headerClasses]="'headerAlignSyle'" [sortable]="true" width="16%">
                    <ng-template igxHeader>
                        <span class="cellAlignSyle">UnitsInStock</span>
                    </ng-template>
                    <ng-template igxCell let-val>
                        <div class="currency-badge-container">
                            <igx-badge *ngIf="val>50" type="success" position="bottom-right" icon="arrow_upward" class="badge-left"></igx-badge>
                            <igx-badge *ngIf="val<=50" type="error" position="bottom-right" icon="arrow_downward" class="error badge-left"></igx-badge>
                            <span class="cellAlignSyle" [class.up]="val>50" [class.down]="val<=50">{{ formatNumber(val) }}</span>
                        </div>
                    </ng-template>
                </igx-column>
                <igx-column [field]="'QuantityPerUnit'" [sortable]="true" width="24%"></igx-column >
                <igx-column [field]="'ReorderLevel'" [dataType]="'number'" [headerClasses]="'headerAlignSyle'" [sortable]="true" width="18%">
                    <ng-template igxHeader>
                        <span class="cellAlignSyle">ReorderLevel</span>
                    </ng-template>
                    <ng-template igxCell let-val>
                        <div class="currency-badge-container">
                            <igx-badge *ngIf="val>20" type="success" position="bottom-right" icon="arrow_upward" class="badge-left"></igx-badge>
                            <igx-badge *ngIf="val<=20" type="error" position="bottom-right" icon="arrow_downward" class="error badge-left"></igx-badge>
                            <span class="cellAlignSyle" [class.up]="val>0" [class.down]="val<=0">{{ formatNumber(val) }}</span>
                        </div>
                    </ng-template>
                </igx-column>
            </igx-grid>
            <!-- <div class="buttons-row">
                <button igxButton (click)="addRow('gridRowEditTransaction')">Add Row</button>
                <div class="buttons-wrapper">
                        <button igxButton [disabled]="!undoEnabled" (click)="undo()">Undo</button>
                        <button igxButton [disabled]="!redoEnabled" (click)="redo()">Redo</button>
                        <button igxButton (click)="commit()">Commit</button>
                        <button igxButton (click)="discard()">Discard</button>
                </div>
            </div> -->
        
            <igx-toast #toast></igx-toast>
        </div>
        
        <div class="box relative">
            <h6>All orders featuring {{ product }}</h6>  
            <div *ngIf="!showGridLoader; else elseBlock">
                <div class="combo-container">
                        <igx-combo *ngIf="grid.selectedRows().length > 0" #combo class="input-container" width="150px" [itemsMaxHeight]="255"
                            [data]="lData" [displayKey]="'field'" [valueKey]="'field'"
                            placeholder="Location(s)" searchPlaceholder="Search...">
                        </igx-combo>
                </div>
                <igx-grid *ngIf="grid.selectedRows().length > 0" #grid2 [data]="ordersDetailsData | async" [height]="'330px'" [width]="'600px'" [autoGenerate]='true' [allowFiltering]="true" displayDensity="compact">
                        <!-- <igx-column [field]="'order'" [hidden]="'true'"></igx-column>
                        <igx-column [field]="'discount'" [dataType]="'number'" header="Discount" [sortable]="true" width="25%"></igx-column>
                        <igx-column [field]="'quantity'" [dataType]="'number'" header="Quantity" [sortable]="true" width="25%"></igx-column>
                        <igx-column [field]="'unitprice'" [sortable]="true" header="Unit Price" width="25%" [formatter]="formatCurrency"></igx-column> -->
                        <!-- <igx-column *ngFor="let c of remoteMetadata" [sortable]="true" [filterable]="true" [field]="c.field" [header]="c.field" [dataType]="c.type" [width]="c.width" [resizable]="true">
                        </igx-column> -->
                </igx-grid>
                <span *ngIf="grid.selectedRows().length === 0">
                    Please select a product in the grid to see detailed information.<br>
                    <igx-icon class="icon">list</igx-icon>
                </span>
            </div>
        </div>

        <div class="box">
            <h6>Timeline</h6>
            <div *ngIf="!showLoader; else elseBlock">
                <div class="select-date">
                    <igx-date-picker *ngIf="grid.selectedRows().length > 0" id="date-from" [value]="date" [formatter]="formatter"></igx-date-picker>
                    <igx-date-picker *ngIf="grid.selectedRows().length > 0" id="date-to" [value]="date" [formatter]="formatter"></igx-date-picker>
                </div>
                <igx-category-chart height="300px" width="1100px" *ngIf="grid.selectedRows().length > 0"
                    [dataSource]="ordersTimelineData | async"
                    [xAxisFormatLabel]="formatDateLabel"
                    [chartType]="chartType">
                </igx-category-chart>
                <span *ngIf="grid.selectedRows().length === 0">
                    Please select a product in the grid to see detailed information.<br>
                    <igx-icon class="icon">show_chart</igx-icon>
                </span>
            </div>
        </div>

        <div class="box">
            <h6> Delivery Country</h6>
            <div *ngIf="!showLoader; else elseBlock">
                    <igx-pie-chart #chart2 height="300px" width="500px" [dataSource]="ordersDetailsData | async" valueMemberPath="Freight" labelMemberPath="ShipCountry" *ngIf="grid.selectedRows().length > 0"
                        (sliceClick)="pieSliceClickEvent($event)" labelsPosition="bestFit">
                    </igx-pie-chart>
                    <span *ngIf="grid.selectedRows().length === 0">
                        Please select a product in the grid to see detailed information.<br>
                        <igx-icon class="icon">pie_chart</igx-icon>
                    </span>
            </div>
        </div>

        <ng-template #elseBlock>
            <div class="loader" *ngIf="showLoader">
                <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <image xlink:href="../../assets/loading.svg" height="65" width="65"/>
                </svg>
            </div>
        </ng-template>
    </div>

