.content { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px;
}

.box {
    padding: 10px;
  }

.cellAlignSyle {
    text-align: right;
    float:right;
}

.cellAlignSyle > span {
    float:right;
}

.up {
    color: green;
}

.down {
    color: red;
}

.headerAlignSyle {
    text-align: right !important;
}

.currency-badge-container {
    width: 80px; 
    float: right;
}

.badge-left {
    float: left;
}

.icon {
    font-size: 156px;
    width: 156px;
    height: 156px;
    color: #0375be
}

.buttons-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}

.button-group-horizontal-1 {
    padding: 0 40px 0px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 40px 20px 40px;
}

.logo {
    display: flex;
    flex-direction: row;
}

.typography-vertical-centering-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    margin-left:10px;
}

.healthy-food {
    display: block;
    font-size: 28px;
    font-weight: bold;
}

h6{
    margin-bottom: 15px !important;
}

:host ::ng-deep {

    .igx-button-group {
        background-color:#63d393;
        .igx-button-group__item--selected {
            background-color: #f9f0ea;
        }
    }

    .igx-button-group__item:hover, .igx-button-group__item--selected {
        background-color: #f9f0ea;
    }

    .igx-button-group__item {
        background-color: transparent;
    }
}