.content { 
    padding: 40px;
    display: grid;
    grid-template-columns: 49% 49%;
    column-gap: 2%;
    row-gap: 4%;
}

.cellAlignSyle {
    text-align: right;
    float:right;
}

.combo-container {
    position: absolute;
    right: 0;
    top: 0;
}

.cellAlignSyle > span {
    float:right;
}

.up {
    color: green;
}

.down {
    color: red;
}

.headerAlignSyle {
    text-align: right !important;
}

.currency-badge-container {
    width: 80px; 
    float: right;
}

.badge-left {
    float: left;
}

.icon {
    font-size: 156px;
    width: 156px;
    height: 156px;
    color: #0375be
}

.buttons-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}

.button-group-horizontal-1 {
    padding: 0 40px 0px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 40px 20px 40px;
}

.logo {
    display: flex;
    flex-direction: row;
}

.typography-vertical-centering-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    margin-left:10px;
}

.healthy-food {
    display: block;
    font-size: 28px;
    font-weight: bold;
}

h6{
    margin-bottom: 20px !important;
    width: 60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.select-date {
    width: 270px;
    float: right;
    display: flex;
    justify-content: space-between;
    margin-top: -58px;
}

.box {
    height: 350px;
}

.relative {
    position: relative;
}

.full-width {
    grid-template-columns: 100%;
}

:host ::ng-deep {  
    .igx-date-picker {
        width: 130px;
    }
    .combo-container .igx-input-group__bundle-main{
        padding-top: 0.625rem;
    }
    
    .combo-container .igx-input-group__bundle-main .igx-input-group__input {
        padding: 0 0 0.3rem;
    }
}

@media only screen and (max-width: 832px) {
    .content {
        grid-template-columns: 100%;
    }
    .decoration {
        display:none;
    }
}