@import '~igniteui-angular/lib/core/styles/themes/utilities';
@import '~igniteui-angular/lib/core/styles/components/icon/icon-component';
@import '~igniteui-angular/lib/core/styles/components/icon/icon-theme';
@import '~igniteui-angular/lib/core/styles/components/button-group/button-group-component';
@import '~igniteui-angular/lib/core/styles/components/button-group/button-group-theme';
@import '~igniteui-angular/lib/core/styles/components/grid-toolbar/grid-toolbar-component';
@import '~igniteui-angular/lib/core/styles/components/grid-paginator/grid-paginator-component';
@import '~igniteui-angular/lib/core/styles/components/grid-summary/grid-summary-component';
@import '~igniteui-angular/lib/core/styles/components/grid/grid-component';
@import '~igniteui-angular/lib/core/styles/components/grid-toolbar/grid-toolbar-theme';
@import '~igniteui-angular/lib/core/styles/components/grid-paginator/grid-paginator-theme';
@import '~igniteui-angular/lib/core/styles/components/grid-summary/grid-summary-theme';
@import '~igniteui-angular/lib/core/styles/components/grid/grid-theme';

@import '../../../themes/hf/index';


main {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
	overflow: auto;
    height: 100%;
}

form {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}



.screen1 {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.bg {
position: absolute;
top: 164px;
z-index: 0;

width: 1280px;
min-width: 1280px;
height: 838px;
min-height: 838px;

border: 1px solid rgba(151, 151, 151, 1.0);

background-color: rgba(255, 255, 255, 1.0);

}
.productson-sale {
color: rgba(0, 0, 0, 1);
position: absolute;
top: 408px;
left: 41px;
z-index: 3;

margin-top: 0px;
height: 28px;
min-height: 28px;

font-family: 'Titillium Web', sans-serif;
font-weight: 700;
font-size: 24px;
line-height: 36px;
text-align: left;
}
.healthy-food {
color: rgba(0, 0, 0, 1);
margin-top: 0px;
height: 35px;
min-height: 35px;

font-family: 'Titillium Web', sans-serif;
font-size: 28px;
line-height: 43px;
text-align: left;
}
.goodfoodgoodheal {
color: rgba(0, 0, 0, 1);
margin-top: 0px;
height: 23px;
min-height: 23px;

font-family: 'Titillium Web', sans-serif;
font-weight: 500;
font-size: 18px;
line-height: 27px;
text-align: left;
}

            .typography-vertical-centering-wrapper {
                display: flex;
                flex: 1;
                flex-direction: column;
                justify-content: center;
            }
            
.typography {
height: 58px;
min-height: 58px;
margin: auto 0 auto 11px;

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
}

.logo {
margin-top: 1px;

display: flex;
flex-direction: row;
flex-shrink: 0;
padding: 0;
}

.decoration {
margin-left: 419px;

opacity: 1;
}

.header {
height: 99px;
min-height: 99px;
position: absolute;
top: 206px;
left: 41px;
z-index: 5;

display: flex;
flex-direction: row;
flex-shrink: 0;
padding: 0;
}

.elevation {
position: absolute;
top: 450px;
left: 42px;
z-index: 1;

width: 1196px;
min-width: 1196px;
height: 496px;
min-height: 496px;

background-color: rgba(255, 255, 255, 1.0);

}
.button-group-horizontal {
width: 100%;
height: 40px;
min-height: 40px;

}
.generate {
position: absolute;
z-index: 0;

position: relative;
padding: 0;
}

.checkbox {

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
}

.checkbox-copy {
margin-top: 84px;

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
}

.checkbox-copy2 {
margin-top: 24px;

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
}

.checkbox-copy3 {
margin-top: 24px;

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
}

.checkbox-copy4 {
margin-top: 24px;

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
}

.checkbox-copy5 {
margin-top: 24px;

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
}

.checkbox-copy6 {
margin-top: 24px;

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
}

.checkbox-copy7 {
margin-top: 24px;

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
}

.checkbox-copy8 {
margin-top: 24px;

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
}

.checkboxes {

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
}

.oval {
width: 22px;
min-width: 22px;
height: 22px;
min-height: 22px;

border-radius: 50%;
border: 1px solid rgba(151, 151, 151, 1.0);

background-color: rgba(255, 19, 74, 1.0);

}
.oval-copy8 {
margin-left: 395px;

width: 22px;
min-width: 22px;
height: 22px;
min-height: 22px;

border-radius: 50%;
border: 1px solid rgba(151, 151, 151, 1.0);

background-color: rgba(78, 184, 98, 1.0);

}
.oval-row {

display: flex;
flex-direction: row;
flex-shrink: 0;
padding: 0;
}

.oval-copy {
width: 22px;
min-width: 22px;
height: 22px;
min-height: 22px;

border-radius: 50%;
border: 1px solid rgba(151, 151, 151, 1.0);

background-color: rgba(255, 19, 74, 1.0);

}
.oval-copy9 {
margin-left: 395px;

width: 22px;
min-width: 22px;
height: 22px;
min-height: 22px;

border-radius: 50%;
border: 1px solid rgba(151, 151, 151, 1.0);

background-color: rgba(78, 184, 98, 1.0);

}
.oval-copy-row {
margin-top: 26px;

display: flex;
flex-direction: row;
flex-shrink: 0;
padding: 0;
}

.oval-copy2 {
width: 22px;
min-width: 22px;
height: 22px;
min-height: 22px;

border-radius: 50%;
border: 1px solid rgba(151, 151, 151, 1.0);

background-color: rgba(255, 19, 74, 1.0);

}
.oval-copy10 {
margin-left: 395px;

width: 22px;
min-width: 22px;
height: 22px;
min-height: 22px;

border-radius: 50%;
border: 1px solid rgba(151, 151, 151, 1.0);

background-color: rgba(255, 19, 74, 1.0);

}
.oval-copy2-row {
margin-top: 26px;

display: flex;
flex-direction: row;
flex-shrink: 0;
padding: 0;
}

.oval-copy3 {
width: 22px;
min-width: 22px;
height: 22px;
min-height: 22px;

border-radius: 50%;
border: 1px solid rgba(151, 151, 151, 1.0);

background-color: rgba(78, 184, 98, 1.0);

}
.oval-copy11 {
margin-left: 395px;

width: 22px;
min-width: 22px;
height: 22px;
min-height: 22px;

border-radius: 50%;
border: 1px solid rgba(151, 151, 151, 1.0);

background-color: rgba(78, 184, 98, 1.0);

}
.oval-copy3-row {
margin-top: 26px;

display: flex;
flex-direction: row;
flex-shrink: 0;
padding: 0;
}

.oval-copy4 {
width: 22px;
min-width: 22px;
height: 22px;
min-height: 22px;

border-radius: 50%;
border: 1px solid rgba(151, 151, 151, 1.0);

background-color: rgba(255, 19, 74, 1.0);

}
.oval-copy12 {
margin-left: 395px;

width: 22px;
min-width: 22px;
height: 22px;
min-height: 22px;

border-radius: 50%;
border: 1px solid rgba(151, 151, 151, 1.0);

background-color: rgba(255, 19, 74, 1.0);

}
.oval-copy4-row {
margin-top: 26px;

display: flex;
flex-direction: row;
flex-shrink: 0;
padding: 0;
}

.oval-copy5 {
width: 22px;
min-width: 22px;
height: 22px;
min-height: 22px;

border-radius: 50%;
border: 1px solid rgba(151, 151, 151, 1.0);

background-color: rgba(78, 184, 98, 1.0);

}
.oval-copy13 {
margin-left: 395px;

width: 22px;
min-width: 22px;
height: 22px;
min-height: 22px;

border-radius: 50%;
border: 1px solid rgba(151, 151, 151, 1.0);

background-color: rgba(78, 184, 98, 1.0);

}
.oval-copy5-row {
margin-top: 26px;

display: flex;
flex-direction: row;
flex-shrink: 0;
padding: 0;
}

.oval-copy6 {
width: 22px;
min-width: 22px;
height: 22px;
min-height: 22px;

border-radius: 50%;
border: 1px solid rgba(151, 151, 151, 1.0);

background-color: rgba(78, 184, 98, 1.0);

}
.oval-copy14 {
margin-left: 395px;

width: 22px;
min-width: 22px;
height: 22px;
min-height: 22px;

border-radius: 50%;
border: 1px solid rgba(151, 151, 151, 1.0);

background-color: rgba(78, 184, 98, 1.0);

}
.oval-copy6-row {
margin-top: 26px;

display: flex;
flex-direction: row;
flex-shrink: 0;
padding: 0;
}

.oval-copy7 {
width: 22px;
min-width: 22px;
height: 22px;
min-height: 22px;

border-radius: 50%;
border: 1px solid rgba(151, 151, 151, 1.0);

background-color: rgba(255, 19, 74, 1.0);

}
.oval-copy15 {
margin-left: 395px;

width: 22px;
min-width: 22px;
height: 22px;
min-height: 22px;

border-radius: 50%;
border: 1px solid rgba(151, 151, 151, 1.0);

background-color: rgba(255, 19, 74, 1.0);

}
.oval-copy7-row {
margin-top: 26px;

display: flex;
flex-direction: row;
flex-shrink: 0;
padding: 0;
}

.ovals {
position: absolute;
z-index: 0;

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
}

.icon-small-row {

display: flex;
flex-direction: row;
flex-shrink: 0;
padding: 0;
}

.icon-small-copy-row {
margin-top: 30px;

display: flex;
flex-direction: row;
flex-shrink: 0;
padding: 0;
}

.icon-small-copy2-row {
margin-top: 30px;

display: flex;
flex-direction: row;
flex-shrink: 0;
padding: 0;
}

.icon-small-copy7-row {
margin-top: 30px;

display: flex;
flex-direction: row;
flex-shrink: 0;
padding: 0;
}

.icon-small-copy6-row {
margin-top: 30px;

display: flex;
flex-direction: row;
flex-shrink: 0;
padding: 0;
}

.icon-small-copy3-row {
margin-top: 30px;

display: flex;
flex-direction: row;
flex-shrink: 0;
padding: 0;
}

.icon-small-copy4-row {
margin-top: 30px;

display: flex;
flex-direction: row;
flex-shrink: 0;
padding: 0;
}

.icon-small-copy5-row {
margin-top: 30px;

display: flex;
flex-direction: row;
flex-shrink: 0;
padding: 0;
}

.icons {
position: absolute;
top: 2px;
left: 2px;
z-index: 1;

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
}

.up-down {
margin-top: 109px;
margin-left: 547px;

position: relative;
padding: 0;
}

.chip-comfortable {
margin-top: 1px;

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
}

.chip-comfortable-copy {
margin-left: 190px;

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
}

.chip-comfortable-copy2 {
margin-left: 57px;

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
}

.chip-comfortable-copy3 {
margin-left: 76px;

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
}

.chip-comfortable-copy4 {
margin-left: 76px;

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
}

.chips {
margin-top: 51px;
margin-left: -950px;

display: flex;
flex-direction: row;
flex-shrink: 0;
padding: 0;
}

.gridoverlay {
position: absolute;
top: 466px;
left: 73px;
z-index: 1;

display: flex;
flex-direction: row;
flex-shrink: 0;
padding: 0;
}

.g-e-n-e-r-a-t-e-row {
margin-top: -164px;

position: relative;
padding: 0;
}

@function get-palette($palette, $variant: 'light') {
$p: igx-color($palette, 'primary');
$s: igx-color($palette, 'secondary');
@return igx-palette($primary: $p,
$secondary: $s,
$grays: if($variant == 'light', #fff, #000)
);
}
@function get-schema($variant: 'light') {
@return map-get((
dark: $dark-schema,
light: $light-schema
), $variant);
}

$grid-generic-grid-theme: igx-grid-theme(
$header-background: igx-color($default-palette, grays, 100),
$header-text-color: igx-color($default-palette, grays, 700),
$content-background: rgb(255, 255, 255),
$content-text-color: igx-color($default-palette, grays, 900)
);

$button-group-horizontal-1-theme: igx-button-group-theme(
$item-background: igx-color($default-palette, secondary),
$item-text-color: igx-color($default-palette, grays, 700)
);

$icon-small-theme: igx-icon-theme(
$color: igx-color($default-palette, grays, 700),
$size: 18px
);

$icon-small-copy8-theme: igx-icon-theme(
$color: igx-color($default-palette, grays, 700),
$size: 18px
);

$icon-small-copy-theme: igx-icon-theme(
$color: igx-color($default-palette, grays, 700),
$size: 18px
);

$icon-small-copy9-theme: igx-icon-theme(
$color: igx-color($default-palette, grays, 700),
$size: 18px
);

$icon-small-copy2-theme: igx-icon-theme(
$color: igx-color($default-palette, grays, 700),
$size: 18px
);

$icon-small-copy10-theme: igx-icon-theme(
$color: igx-color($default-palette, grays, 700),
$size: 18px
);

$icon-small-copy7-theme: igx-icon-theme(
$color: igx-color($default-palette, grays, 700),
$size: 18px
);

$icon-small-copy13-theme: igx-icon-theme(
$color: igx-color($default-palette, grays, 700),
$size: 18px
);

$icon-small-copy6-theme: igx-icon-theme(
$color: igx-color($default-palette, grays, 700),
$size: 18px
);

$icon-small-copy12-theme: igx-icon-theme(
$color: igx-color($default-palette, grays, 700),
$size: 18px
);

$icon-small-copy3-theme: igx-icon-theme(
$color: igx-color($default-palette, grays, 700),
$size: 18px
);

$icon-small-copy11-theme: igx-icon-theme(
$color: igx-color($default-palette, grays, 700),
$size: 18px
);

$icon-small-copy4-theme: igx-icon-theme(
$color: igx-color($default-palette, grays, 700),
$size: 18px
);

$icon-small-copy14-theme: igx-icon-theme(
$color: igx-color($default-palette, grays, 700),
$size: 18px
);

$icon-small-copy5-theme: igx-icon-theme(
$color: igx-color($default-palette, grays, 700),
$size: 18px
);

$icon-small-copy15-theme: igx-icon-theme(
$color: igx-color($default-palette, grays, 700),
$size: 18px
);


:host {
::ng-deep {
.grid-generic-grid {
@include igx-grid($grid-generic-grid-theme);
width: 2304px;
position: absolute;
left: 42px;
z-index: 2;

}

.button-group-horizontal-1 {
@include igx-button-group($button-group-horizontal-1-theme);
position: absolute;
top: 325px;
left: 43px;
z-index: 4;

}

.icon-small {
@include igx-icon($icon-small-theme);
}

.icon-small-copy8 {
@include igx-icon($icon-small-copy8-theme);
margin-left: 399px;

}

.icon-small-copy {
@include igx-icon($icon-small-copy-theme);
}

.icon-small-copy9 {
@include igx-icon($icon-small-copy9-theme);
margin-left: 399px;

}

.icon-small-copy2 {
@include igx-icon($icon-small-copy2-theme);
}

.icon-small-copy10 {
@include igx-icon($icon-small-copy10-theme);
margin-left: 399px;

}

.icon-small-copy7 {
@include igx-icon($icon-small-copy7-theme);
}

.icon-small-copy13 {
@include igx-icon($icon-small-copy13-theme);
margin-left: 399px;

}

.icon-small-copy6 {
@include igx-icon($icon-small-copy6-theme);
}

.icon-small-copy12 {
@include igx-icon($icon-small-copy12-theme);
margin-left: 399px;

}

.icon-small-copy3 {
@include igx-icon($icon-small-copy3-theme);
}

.icon-small-copy11 {
@include igx-icon($icon-small-copy11-theme);
margin-left: 399px;

}

.icon-small-copy4 {
@include igx-icon($icon-small-copy4-theme);
}

.icon-small-copy14 {
@include igx-icon($icon-small-copy14-theme);
margin-left: 399px;

}

.icon-small-copy5 {
@include igx-icon($icon-small-copy5-theme);
}

.icon-small-copy15 {
@include igx-icon($icon-small-copy15-theme);
margin-left: 399px;

}

}
}

