<main class="igx-typography"><form>
<div class="screen1">
<div class="g-e-n-e-r-a-t-e-row"><div class="generate"><div class="bg">
</div>
<span class="productson-sale">Products on Sale</span>
<div class="header"><div class="logo"><img alt="Sign" width="98px" height="98px" src="assets/3cc2467cef854644e3a24279c2a2f406994e2345.png">
<div class="typography-vertical-centering-wrapper"><div class="typography"><span class="healthy-food">HealthyFood</span>
<span class="goodfoodgoodheal">good food, good health</span>
</div>
</div>
</div>
<img class="decoration" alt="Decoration" width="490px" height="99px" src="assets/19478e7317c1fa7477e9d4342036ac30c811cffb.png">
</div>
<div class="elevation">
</div>
<div class="grid-generic-grid">
<igx-grid [autoGenerate]="false" [height]="null" >
<igx-column header=" " width="82px" dataType="string" ></igx-column>
<igx-column header=" " width="320px" dataType="number" ></igx-column>
<igx-column header="Product Name" width="320px" dataType="string" ></igx-column>
<igx-column header=" " width="183px" dataType="number" ></igx-column>
<igx-column header="Unit Price" width="182px" dataType="string" ></igx-column>
<igx-column header="Units In Stock" width="193px" dataType="string" ></igx-column>
<igx-column header=" " width="193px" dataType="string" ></igx-column>
<igx-column header="Quantity Per Unit" width="223px" dataType="string" ></igx-column>
<igx-column header=" " width="223px" dataType="string" ></igx-column>
<igx-column header="Reorder Level" width="193px" dataType="string" ></igx-column>
<igx-column header=" " width="193px" dataType="string" ></igx-column>
</igx-grid>
</div>

<div class="button-group-horizontal-1">
<igx-buttongroup [values]="buttongrouphorizontal" class="button-group-horizontal" >
</igx-buttongroup>
</div>

</div>
<div class="gridoverlay"><div class="checkboxes"><div class="checkbox"><!-- No generator was found, skipping: Theme -->
</div>
<div class="checkbox-copy"><!-- No generator was found, skipping: Theme -->
</div>
<div class="checkbox-copy2"><!-- No generator was found, skipping: Theme -->
</div>
<div class="checkbox-copy3"><!-- No generator was found, skipping: Theme -->
</div>
<div class="checkbox-copy4"><!-- No generator was found, skipping: Theme -->
</div>
<div class="checkbox-copy5"><!-- No generator was found, skipping: Theme -->
</div>
<div class="checkbox-copy6"><!-- No generator was found, skipping: Theme -->
</div>
<div class="checkbox-copy7"><!-- No generator was found, skipping: Theme -->
</div>
<div class="checkbox-copy8"><!-- No generator was found, skipping: Theme -->
</div>
</div>
<div class="up-down"><div class="ovals"><div class="oval-row"><div class="oval">
</div>
<div class="oval-copy8">
</div>
</div>
<div class="oval-copy-row"><div class="oval-copy">
</div>
<div class="oval-copy9">
</div>
</div>
<div class="oval-copy2-row"><div class="oval-copy2">
</div>
<div class="oval-copy10">
</div>
</div>
<div class="oval-copy3-row"><div class="oval-copy3">
</div>
<div class="oval-copy11">
</div>
</div>
<div class="oval-copy4-row"><div class="oval-copy4">
</div>
<div class="oval-copy12">
</div>
</div>
<div class="oval-copy5-row"><div class="oval-copy5">
</div>
<div class="oval-copy13">
</div>
</div>
<div class="oval-copy6-row"><div class="oval-copy6">
</div>
<div class="oval-copy14">
</div>
</div>
<div class="oval-copy7-row"><div class="oval-copy7">
</div>
<div class="oval-copy15">
</div>
</div>
</div>
<div class="icons"><div class="icon-small-row"><div class="icon-small">
<igx-icon 
>
arrow_downward</igx-icon>
</div>

<div class="icon-small-copy8">
<igx-icon 
>
arrow_upward</igx-icon>
</div>

</div>
<div class="icon-small-copy-row"><div class="icon-small-copy">
<igx-icon 
>
arrow_downward</igx-icon>
</div>

<div class="icon-small-copy9">
<igx-icon 
>
arrow_upward</igx-icon>
</div>

</div>
<div class="icon-small-copy2-row"><div class="icon-small-copy2">
<igx-icon 
>
arrow_downward</igx-icon>
</div>

<div class="icon-small-copy10">
<igx-icon 
>
arrow_downward</igx-icon>
</div>

</div>
<div class="icon-small-copy7-row"><div class="icon-small-copy7">
<igx-icon 
>
arrow_upward</igx-icon>
</div>

<div class="icon-small-copy13">
<igx-icon 
>
arrow_upward</igx-icon>
</div>

</div>
<div class="icon-small-copy6-row"><div class="icon-small-copy6">
<igx-icon 
>
arrow_downward</igx-icon>
</div>

<div class="icon-small-copy12">
<igx-icon 
>
arrow_downward</igx-icon>
</div>

</div>
<div class="icon-small-copy3-row"><div class="icon-small-copy3">
<igx-icon 
>
arrow_upward</igx-icon>
</div>

<div class="icon-small-copy11">
<igx-icon 
>
arrow_upward</igx-icon>
</div>

</div>
<div class="icon-small-copy4-row"><div class="icon-small-copy4">
<igx-icon 
>
arrow_upward</igx-icon>
</div>

<div class="icon-small-copy14">
<igx-icon 
>
arrow_upward</igx-icon>
</div>

</div>
<div class="icon-small-copy5-row"><div class="icon-small-copy5">
<igx-icon 
>
arrow_downward</igx-icon>
</div>

<div class="icon-small-copy15">
<igx-icon 
>
arrow_downward</igx-icon>
</div>

</div>
</div>
</div>
<div class="chips"><div class="chip-comfortable"><!-- No generator was found, skipping: 💡State -->
</div>
<div class="chip-comfortable-copy"><!-- No generator was found, skipping: 💡State -->
</div>
<div class="chip-comfortable-copy2"><!-- No generator was found, skipping: 💡State -->
</div>
<div class="chip-comfortable-copy3"><!-- No generator was found, skipping: 💡State -->
</div>
<div class="chip-comfortable-copy4"><!-- No generator was found, skipping: 💡State -->
</div>
</div>
</div>
</div>
</div></form></main>
